<th:block th:fragment="water-summary(waterTracking, summaryDate)">
  <th:block th:if="${waterTracking == null}">
    <p>No water tracking information found</p>
    <!--    <th:block-->
    <!--        th:insert="~{fitness-tracker-design-system/component/misc ::action-link('add-water-information','Add water information', '/water-tracking/add-water-details')}"></th:block>-->
  </th:block>
  <th:block th:if="${waterTracking != null}">
    <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhsuk-u-margin-bottom-1">
    </dl>
    <!--    <a class="nhsuk-label&#45;&#45;s nhsuk-link&#45;&#45;no-visited-state nhsuk-u-text-align-centre" href="#">View all details</a>-->
  </th:block>
</th:block>