<th:block th:fragment="primary-button(id, text)">
  <button class="nhsuk-button" data-module="nhsuk-button" data-prevent-double-click="true"
          th:classappend="${classAppend != null ? classAppend : ''}" th:id="${id}"
          th:name="${id}" th:text="${text}" type="submit">
    Save and continue
  </button>
</th:block>
<th:block th:fragment="secondary-button(id, text)">
  <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button"
          data-prevent-double-click="true" th:classappend="${classAppend != null ? classAppend : ''}"
          th:id="${id}" th:name="${id}" th:text="${text}" type="submit">
    Find my location
  </button>
</th:block>
<th:block th:fragment="reverse-button(id, text)">
  <button class="nhsuk-button nhsuk-button--reverse" data-module="nhsuk-button"
          data-prevent-double-click="true" th:classappend="${classAppend != null ? classAppend : ''}"
          th:id="${id}" th:name="${id}" th:text="${text}" type="submit">
    Save and continue
  </button>
</th:block>