<th:block th:fragment="checkbox(id, label, field, hints)">
  <div class="nhsuk-checkboxes__item">
    <span
        th:replace="~{fitness-tracker-design-system/form/errors :: error-message(${field})}"></span>
    <input class="nhsuk-checkboxes__input"
           th:classappend="${#fields.hasErrors(field)} ? 'nhsuk-form-group--error' : ''"
           th:ffield="${field}" th:id="${id}" th:name="${id}"
           type="checkbox">
    <label class="nhsuk-label nhsuk-checkboxes__label" th:text="${label}" th:for="${id}">
      -
    </label>
    <div class="nhsuk-hint nhsuk-checkboxes__hint" th:id="${id} + '-hint'" th:if="${hints != null}"
         th:text="${hints}">
    </div>
  </div>
</th:block>