<!DOCTYPE html>
<html
    th:replace="~{fitness-tracker-design-system/layout :: layout(backLink=~{}, main=~{::main}, scripts=~{}, includedNav=true, var=true)}">

<body>
<main class="nhsuk-main-wrapper" id="main-content" role="main">
  <form id="add-activity-details" method="post" novalidate
        th:action="@{'/body-measurement/check-body-measurement'}" th:object="${bodyMeasurementDTO}">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
              <span
                  th:replace="~{fitness-tracker-design-system/form/errors :: error-summary(${bodyMeasurementDTO},true)}"></span>
        <h1 th:text="${pageTitleRaw}">Dashboard</h1>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <dl class="nhsuk-summary-list">
          <th:block
              th:insert="~{fitness-tracker-design-system/component/summary-list :: summary-list-item(id='measurementDate',key='Measurement date',value=${bodyMeasurementDTO.measurementDate.toDisplayDate()},numeric=false)}">
          </th:block>
          <th:block
              th:insert="~{fitness-tracker-design-system/component/summary-list :: summary-list-item(id='bodyMeasurementArea',key='Body area type',value=${bodyMeasurementDTO.getBodyMeasurementDisplay()},numeric=false)}">
          </th:block>
          <th:block
              th:insert="~{fitness-tracker-design-system/component/summary-list :: summary-list-item(id='measurementSize',key='Size (cm)',value=${bodyMeasurementDTO.measurementSize},numeric=false)}">
          </th:block>
        </dl>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/button :: primary-button(id='submit',text='Submit')}">
        </th:block>
      </div>
    </div>
  </form>
</main>

</body>
</html>