<!DOCTYPE html>
<html lang="en" xlmns:sec="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
  <title>Document</title>
</head>
<body class="nhsuk-body-l">
<th:block th:fragment="header(includedNav)">

  <div class="nhsuk-header__container nhsuk-u-margin-bottom-0">
    <div class="nhsuk-header__logo nhsuk-header__logo--only">
      <a aria-label="Health homepage" class="nhsuk-header__link nhsuk-header__link--service "
         th:href="@{/dashboard}">
        <th:block
            th:insert="~{fitness-tracker-design-system/component/icons :: logo}"></th:block>
        <span class="nhsuk-header__service-name" th:text="${#messages.msg('App.name')}"></span>

      </a>
    </div>

    <div class="nhsuk-header__content nhsuk-u-margin-bottom-0" id="content-header">

      <div class="nhsuk-header__menu">
        <div class="header-sub-links" th:if="${includedNav}">
            <span class="header-sub-links--content"
                  th:if="${@loggedInUserService?.getLoggedInUser()?.isPresent()}">
              <span class="header-sub-links--content-body">
                <span class="nhsuk-u-visually-hidden">Logged in as </span>
                <a class="header-sub-links--content-body header-sub-links--content-link"
                   th:href="@{'/users/home'}"
                   th:text="${@loggedInUserService?.getLoggedInUser()?.get()?.getFullName()}">
                  Sign out
                </a>
              </span>
            </span>
          <strong aria-hidden="true"> | </strong>
          <span class="header-sub-links--content">
              <a class="header-sub-links--content-body header-sub-links--content-link" th:href="@{'/logout'}">
                Sign out
              </a>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="nhsuk-navigation-container" th:if="${includedNav}">
    <nav aria-label="Primary navigation"
         class="nhsuk-navigation"
         id="header-navigation"
         role="navigation">
      <ul class="nhsuk-header__navigation-list">
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" th:href="@{'/dashboard'}">
            Home
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" th:href="@{'/activity/home'}">
            Activity
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" th:href="@{'/body-measurement/home'}">
            Body measurement
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" th:href="@{'/diary/home'}">
            Diary
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" th:href="@{'/food-tracking/home'}">
            Food
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" th:href="@{'/sleep-tracking/home'}">
            Sleep
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" th:href="@{'/training-plan/home'}">
            Training plan
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" th:href="@{'/water-tracking/home'}">
            Water
          </a>
        </li>
        <li class="nhsuk-header__navigation-item">
          <a class="nhsuk-header__navigation-link" th:href="@{'/weight-tracking/home'}">
            Weight
          </a>
        </li>
        <li class="nhsuk-mobile-menu-container">
          <button class="nhsuk-header__menu-toggle nhsuk-header__navigation-link" id="toggle-menu"
                  aria-expanded="false">
            <span class="nhsuk-u-visually-hidden">Browse</span>
            More
            <svg class="nhsuk-icon nhsuk-icon__chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                 aria-hidden="true" focusable="false">
              <path
                  d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
            </svg>
          </button>
          <ul class="nhsuk-header__drop-down nhsuk-header__drop-down--hidden"></ul>
        </li>
      </ul>
    </nav>
  </div>
</th:block>
</body>
</html>