<!DOCTYPE html>
<html lang="en" th:fragment="layout(backLink, main, scripts, includedNav)">
<!--[if lt IE 9]>
<html class="lte-ie8" xlmns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en" xlmns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"><![endif]-->
<!--[if gt IE8]><!-->
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta content="Health tracking" name="description">
  <meta th:content="${@environment.getProperty('server.servlet.context-path')}"
        th:name="_context_path">
  <title th:text="${pageTitle}">Health tracker</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <!--  <th:block th:if="${accessible}">-->
  <!--    <script th:src="@{/js/accessible-autocomplete.min.js}"></script>-->
  <!--  </th:block>-->
</head>
<body>
<a class="nhsuk-skip-link" href="#main-content">Skip to main content</a>
<script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

<header class="nhsuk-header" id="health-tracker-global-header" role="banner">
  <th:block
      th:replace="~{fitness-tracker-design-system/header ::header(${includedNav})}"></th:block>
</header>

<div class="nhsuk-width-container">
  <th:block
      th:insert="~{fitness-tracker-design-system/component/breadcrumbs ::breadcrumbs(${breadcrumbs})}"></th:block>
  <main id="main-content" th:replace="${main}">
    <h1>Default page template</h1>
  </main>
</div>

<footer role="contentinfo">
  <div class="nhsuk-footer-container">
    <div class="nhsuk-width-container">
      <h2 class="nhsuk-u-visually-hidden">Support links</h2>
      <ul class="nhsuk-footer__list">
        <li class="nhsuk-footer__list-item nhsuk-footer-default__list-item">
          <a class="nhsuk-footer__list-item-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
  <!--  <script th:src="@{/js/jquery.js}"></script>-->

  <!--  <script th:src="@{/js/moj.js}"></script>-->
  <script th:src="@{/js/application-min.js}"></script>
  <script th:src="@{/js/gov-min.js}"></script>
  <script>
    window.GOVUKFrontend.initAll();
  </script>
</footer>

</body>


</html>