<!DOCTYPE html>
<html
    th:replace="~{fitness-tracker-design-system/layout :: layout(backLink=~{}, main=~{::main}, scripts=~{}, includedNav=true, var=true)}">

<body>
<main class="nhsuk-main-wrapper" id="main-content" role="main">
  <form id="add-activity" method="post" novalidate
        th:action="@{'/mental-health-log/future-response'}" th:object="${mentalHealthLogDTO}">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
              <span
                  th:replace="~{fitness-tracker-design-system/form/errors :: error-summary(${mentalHealthLogDTO},true)}"></span>
        <h1 th:text="${pageTitleRaw}">Dashboard</h1>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <input name="thoughtsEmotions" th:value="${mentalHealthLogDTO.thoughtsEmotions}" type="hidden"/>
        <input name="potentialTriggers" th:value="${mentalHealthLogDTO.potentialTriggers}" type="hidden"/>
        <input name="actualResponse" th:value="${mentalHealthLogDTO.actualResponse}" type="hidden"/>
        <input name="intensity" th:value="${mentalHealthLogDTO.intensity}" type="hidden"/>
        <input name="additionalNotes" th:value="${mentalHealthLogDTO.additionalNotes}" type="hidden"/>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/textarea :: character-count(id='futureResponse',field='futureResponse',
            label='How would you like to respond in future?', length=5000, rows=10)}">
        </th:block>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/button :: primary-button(id='submit',text='Continue')}">
        </th:block>
      </div>
    </div>
  </form>
</main>

</body>
</html>