<!DOCTYPE html>
<html th:replace="~{fitness-tracker-design-system/layout :: layout(~{}, ~{::main}, ~{}, true)}">
<body>
<main class="nhsuk-main-wrapper" id="main-content" role="main">

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 th:text="${pageTitleRaw}">Dashboard</h1>
    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <table class="nhsuk-table-responsive" role="table">
        <caption class="nhsuk-table__caption">Activities</caption>
        <thead class="nhsuk-table__head" role="rowgroup">
        <tr role="row">
          <th class="" role="columnheader" scope="col">
            Activity date
          </th>
          <th class="nhsuk-table__header--numeric" role="columnheader" scope="col">
            Activity count
          </th>
          <th class="" role="columnheader" scope="col">
            Total time
          </th>
          <th class="nhsuk-table__header--numeric" role="columnheader" scope="col">
            Total distance
          </th>
          <th class="nhsuk-table__header--numeric" role="columnheader" scope="col">
            Total calories
          </th>
          <th class="" role="columnheader" scope="col">
            Action
          </th>
        </tr>
        </thead>
        <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row" role="row" th:each="activity : ${activitySummaryDTOPage}">
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Activity date</span>
            <span th:text="${#temporals.format(activity.activityDate, 'dd/MM/yyyy')}"></span>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric" role="cell">
            <span class="nhsuk-table-responsive__heading">Activity count</span>
            <span th:text="${activity.activityCount}"></span>
          </td>
          <td class="nhsuk-table__cell" role="cell">
            <span class="nhsuk-table-responsive__heading">Total time</span>
            <span th:text="${activity.totalTime}"></span>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric" role="cell">
            <span class="nhsuk-table-responsive__heading">Total distance</span>
            <span th:text="${activity.totalDistance}"></span>
          </td>
          <td class="nhsuk-table__cell nhsuk-table__cell--numeric" role="cell">
            <span class="nhsuk-table-responsive__heading">Total distance</span>
            <span th:text="${activity.totalCalories}"></span>
          </td>
          <td class="nhsuk-table__cell " role="cell">
            <span class="nhsuk-table-responsive__heading">Action</span>
            <a class="nhsuk-link--no-visited-state"
               th:href="@{'activities/day/' + ${#temporals.format(activity.activityDate,'yyyy-MM-dd')}}">View
              activities</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>
</body>
</html>