<!DOCTYPE html>
<html
    th:replace="~{fitness-tracker-design-system/layout :: layout(backLink=~{}, main=~{::main}, scripts=~{}, includedNav=true, var=true)}">

<body>
<main class="nhsuk-main-wrapper" id="main-content" role="main">
  <form id="add-activity" method="post" novalidate
        th:action="@{'/activity/add-activity'}" th:object="${activityDTO}">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
              <span
                  th:replace="~{fitness-tracker-design-system/form/errors :: error-summary(${activityDTO},true)}"></span>
        <h1 th:text="${pageTitleRaw}">Dashboard</h1>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <th:block
            th:insert="~{fitness-tracker-design-system/form/input :: date-input(id='activityDate',name=*{activityDate},field='activityDate',label='Activity date')}">
        </th:block>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/input :: time-input(id='startTime',field='startTime',label='Start time')}">
        </th:block>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/select :: select-autocomplete(id='activityType',field='activityType',label='Activity type',
            list=*{activityTypeList},selected=*{activityType},hints='Hints')}">
        </th:block>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/input :: time-input(id='timeTaken',field='timeTaken',label='Time taken')}">
        </th:block>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/input :: text-input(id='calorieCount',field='calorieCount',label='Calorie count')}">
        </th:block>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/input :: text-input(id='distance',field='distance',label='Distance (optional)')}">
        </th:block>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/button :: secondary-button(id='addActivityDetails',text='Add activity details')}">
        </th:block>
        <th:block th:if="${activityDTO.activityDetailsList.size() > 0}">
          <table>
            <thead>
            <tr>
              <th class="nhsuk-table__header--numeric" role="columnheader" scope="col">Repetitions</th>
              <th class="nhsuk-table__header--numeric" role="columnheader" scope="col">Number of sets</th>
              <th class="nhsuk-table__header--numeric" role="columnheader" scope="col">Weight</th>
            </tr>
            </thead>
            <tr th:each="detail : ${activityDTO.activityDetailsList}">
              <td class="nhsuk-table__cell--numeric" th:text="${detail.repetitions}"></td>
              <td class="nhsuk-table__cell--numeric" th:text="${detail.numberOfSets}"></td>
              <td class="nhsuk-table__cell--numeric" th:text="${detail.weight}"></td>
            </tr>
          </table>
        </th:block>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/textarea :: character-count(id='notes',field='notes',label='Notes (optional)',length=500)}">
        </th:block>
        <th:block
            th:insert="~{fitness-tracker-design-system/form/button :: primary-button(id='submit',text='Submit')}">
        </th:block>
      </div>
    </div>
  </form>
</main>

</body>
</html>