.nhsuk-grid-column-one-seventh {
    box-sizing: border-box;
    padding: 0 16px
}

@media (min-width: 48.0625em) {
    .nhsuk-grid-column-one-seventh {
        float: left;
        width: 14.2857%
    }
}

.nhsuk-card-border-bottom-1 {
    border-bottom-width: 1px
}

.nhsuk-card__no-content {
    background-color: #dbe0e3;
}

.nhsuk-button-looks-like-link {
    background: none !important;
    border: none !important;
    font-size: 19px;
    color: #005eb8;
    text-decoration: underline;
    cursor: pointer;

}

.nhsuk-button-looks-like-link:hover {
    color: #4276b8;
}

.nhsuk-button-looks-like-link:focus {
    background-color: #ffbf47 !important;
    outline: 3px solid #ffbf47;
}

.nhsuk-button-looks-like-link--no-visited-state:link {
    color: #005eb8;
}

.nhsuk-button-looks-like-link--no-visited-state:visited {
    color: #005eb8;
}

.nhsuk-button-looks-like-link--no-visited-state:hover {
    color: #7c2855;
}

.nhsuk-button-looks-like-link--no-visited-state:active {
    color: #002f5c;
}

.nhsuk-button-looks-like-link--no-visited-state:focus {
    color: #212b32;
}
