<th:block th:fragment="clickable-card"
          th:with="id=${id},title=${title?:''},link=${link?:'#'},description=${description?:''}">
  <div class="nhsuk-card nhsuk-card--clickable">
    <div class="nhsuk-card__content">
      <h2 class="nhsuk-card__heading nhsuk-heading-m">
        <a class="nhsuk-card__link nhsuk-link--no-visited-state" th:href="@{${link}}" th:text="${title}">Introduction to
          care and
          support</a>
      </h2>
      <p class="nhsuk-card__description" th:text="${description}">A quick guide for people who have
        care and support needs and their carers</p>
    </div>
  </div>
</th:block>