<th:block th:fragment="tag(colour)">
  <strong class="nhsuk-tag" th:if="colour == 'solid'"></strong>
  <strong class="nhsuk-tag nhsuk-tag--white" th:if="colour == 'white'"></strong>
  <strong class="nhsuk-tag nhsuk-tag--grey" th:if="colour == 'grey'"></strong>
  <strong class="nhsuk-tag nhsuk-tag--green" th:if="colour == 'green'"></strong>
  <strong class="nhsuk-tag nhsuk-tag--aqua-green" th:if="colour == 'aqua-green'"></strong>
  <strong class="nhsuk-tag nhsuk-tag--blue" th:if="colour == 'blue'"></strong>
  <strong class="nhsuk-tag nhsuk-tag--purple" th:if="colour == 'purple'"></strong>
  <strong class="nhsuk-tag nhsuk-tag--pink" th:if="colour == 'pink'"></strong>
  <strong class="nhsuk-tag nhsuk-tag--red" th:if="colour == 'red'"></strong>
  <strong class="nhsuk-tag nhsuk-tag--orange" th:if="colour == 'orange'"></strong>
  <strong class="nhsuk-tag nhsuk-tag--yellow" th:if="colour == 'yellow'"></strong>
</th:block>